canvas {
  display: block;
}

#rainbow {
  font-size: 11px;
  font-family: "Arial";
  font-weight: normal;
}

#rainbow canvas {
  cursor: crosshair;
}

#rainbow .cursor-off {
  cursor: none;
}

#rainbow .controllers {
  font-weight: bold;
  background: rgba(50, 50, 50, .2);
  position: absolute;
  bottom: 0;
  z-index: 99;
  padding: 0.7rem;
  margin: 0;
  pointer-events: none;
}

#rainbow li {
  list-style: none;
  display: inline;
  margin-right: 0.5rem;
}

#rainbow span.key {
  padding: 5px 7px;
  text-align: center;
  background: #f3f3f3;
  background: linear-gradient(#f3f3f3, #e6e6e6);
  border-radius: 5px;
  color: rgb(50, 50, 50);
  margin-left: 5px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
  font-weight: bold;
}
