canvas {
  display: block;
}

#rainbow {
  font-size: 11px;
  font-family: "Arial";
  font-weight: normal;
}

#rainbow canvas {
  cursor: crosshair;
}

#rainbow .cursor-off {
  cursor: none;
}

#rainbow .controllers {
  font-weight: bold;
  background: rgba(50, 50, 50, .2);
  position: absolute;
  bottom: 0;
  z-index: 99;
  padding: 0.7rem;
  margin: 0;
  pointer-events: none;
}

#rainbow li {
  list-style: none;
  display: inline;
  margin-right: 1rem;
}

#rainbow li:first-child {
  margin-left: 1rem;
}

#rainbow span.key {
  display: inline-block;
  transition: transform .1s cubic-bezier(0.54, 1.57, 0.43, 0.97);
  width: 25px;
  height: 20px;
  vertical-align: middle;
  padding-top: 5px;
  text-align: center;
  background: #f3f3f3;
  background: linear-gradient(#f3f3f3, #e6e6e6 90%, #888888);
  border-radius: 5px;
  color: rgb(50, 50, 50);
  margin-left: 5px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
  font-weight: bold;
}

#rainbow span.active {
  box-shadow: none;
  background: white;
  transform: scale(1.2);
}
